<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users View</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Community Page</h1>


    <p><a href="/views/users/">Explore our Community!</a></p>
</body>
</html>